<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'houses.css' %}">
</head>
<body>
    <div class="container">
        <h1>Find Your Dream Home</h1>
        
        
        <div class="house">
            {% for houses in housess %}
            <div class="hs1">
                
                
                <div class="img">
                <img src="{{houses.image.url}}" alt="">
                
                
                
               
                </div>
                
                <h2>{{houses.name}}</h2>
                
                <div class="details">
                    
                    <div class="location">
                        <h5>Location</h5>
                        <div class="icon"><i class="fa-solid fa-location-dot"></i></div>
                        <p>{{houses.location}}</p>
                    </div>
                    <div class="lotsize">
                        <h5>Lot Size</h5>
                        <div class="icon"><img src="/static/Images/houses/lotsize.png" alt=""></div>
                        <p>{{houses.lot_size}}</p>
                    </div>
                    <div class="bed">
                        <h5>Beds</h5>
                        <div class="icon"><i class="fa-solid fa-bed"></i></div>
                        <p>{{houses.beds}}</p>
                    </div>

                    <div class="bath">
                        <h5>Baths</h5>
                        <div class="icon"><i class="fa-solid fa-bath"></i></div>
                        <p>{{houses.baths}}</p>
                    </div>
                    <div class="garage">
                        <h5>Garage</h5>
                        <div class="icon"><img src="/static/Images/houses/garage icon.png" alt=""></div>
                        <p>{{houses.garage}}</p>
                        
                    </div>     
                </div>
                <div class="overlay center">
                    <a href="{% url 'contact' %}" class="buy-btn">Buy Now</a>
                </div>
                
            </div>
            {% endfor %}
        </div>
        <div class="arrow">
            <button class="left" onclick="left()"><</button>
            <button class="right" onclick="right()">></button>
        </div>
    </div>
    <script src="{% static 'houses.js' %}"></script>
    
</body>
</html>